################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp - Crud 1/ConsoleApp - Crud 1/bin/Debug/net8.0
